.outline-text {
  color: ghostwhite;
  text-shadow: -1px -1px 0 rgb(107 114 128), 1px -1px 0 rgb(107 114 128),
    -1px 1px 0 rgb(107 114 128), 1px 1px 0 rgb(107 114 128);
}

.outline-none {
  color: transparent;
  text-shadow: none;
}

.svg-black {
  filter: brightness(0) invert(0);
}

.glass {
  background: rgba(255, 255, 255, 0.75);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 1); */
}
