@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Kalam:wght@300;400;700&display=swap");

.cedarville {
  font-family: "Cedarville Cursive", cursive;
}

.underline {
  content: "";
  background-color: white;

  height: 1px;
  border-radius: 100px;
}

.name {
  max-width: 300px;
}
@media (min-width: 558.4px) {
  .name {
    max-width: none;
  }
}
