@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* hand-written font */
.font-sour {
  font-family: var(--font-sour-gummy);
}

/* internal link styles */
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 5rem;
}

/* variables and dark mode */
:root {
  --background: #ffffff;
  --foreground: #000000;

  --grid-line: rgba(0, 0, 0, 0.04);
}

/* TODO: fix coloring on borders in dark mode (maybe switch to opacity or smth?) */
html.dark {
  --background: #000000;
  --foreground: #ffffff;

  /* inverted grid */
  --grid-line: rgba(255, 255, 255, 0.04);
}

body {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  background: var(--background);
  color: var(--foreground);

  background-image: linear-gradient(
      to right,
      var(--grid-line) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-line) 1px, transparent 1px);
  background-size: 32px 32px;

  transition-property: background-color, color, background-image;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
