@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: black;
}

html,
body {
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  /* background-color: #fafaff; */

  background-color: #d8d8d8;
}
