@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../public/fonts/centurygothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.century-gothic {
  font-family: "Century Gothic", sans-serif; /* Fallback to a default font */
}
