.experience {
}

.job {
}

.timeline {
  transform: translateX(-60px);
}

.midline {
  background-color: black;

  width: 1px;
  height: calc(100% + 60px); /* increase the height by 5px */
  border-radius: 50px;

  transform: translateX(-36px) translateY(-30px);

  /* background-color: black;
  width: 2px;
  height: auto; 
  border-radius: 50px;
  position: relative; 
  transform: translateX(-36px); */
}

@media (min-width: 768px) {
  .timeline {
    transform: translateX(0px);
  }

  .midline {
    transform: translateX(0px) translateY(-30px);
  }
}

.hover-underline {
  background-color: black;

  height: 0.5px;
  border-radius: 50px;
}
