.skills {
  padding-top: 5rem;
  padding-bottom: 5rem;

  padding-left: 7.5rem;
  padding-right: 7.5rem;

  min-height: 100vh;
}

.skill {
  min-width: 290px;
  width: 100%;

  padding-left: 3rem;
  padding-right: 3rem;
}
@media (min-width: 1024px) {
  .skill {
    min-width: 0;

    min-height: 580px;

    padding-left: 0;
    padding-right: 0;
  }
}
